$divider-color: #ebebeb;

$action-color: #337ab7;
$action-disabled-color: #727272;

$todo-color: #fa3e3e;
$new-color: #5bc0de;

$menu-link-color: #ffffff;
$menu-button-color: #ffffff;
$menu-button-background-color: #4caf50;

$favorite-inactive-color: #dddddd;
$favorite-inactive-border-color: #969696;
$favorite-active-color: #ffd76b;
$favorite-active-border-color: #cea641;

$introduction-text-color: #ffffff;

$footer-background-color: #eeeeee; 