.btn{
    white-space: normal;
}
.brandButton {
    background-color: Transparent;
    border: none;
    outline: none;
}

.btn-no-hover:hover {
    border-color: #ccc;
}

.logged-in-text {
    pointer-events: none;
}

/* bootstrap override */
.progress {
    margin-bottom: 0.5em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 1.2em !important;
    }
}

@media screen and (min-width: 992px) {
.questionText{
    font-size: 300% !important;
  }
.verbQuestionText{
    font-size: 150% !important;
  }
}

@media screen and (max-width: 992px) {
.questionText{
    font-size: 225% !important;
  }
.verbQuestionText{
    font-size: 100% !important;
  }
}