.btn{
    white-space: normal;
}
.answerbutton{
    height: 5em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 1.2em !important;
    }
}
