.navbar {
  margin: 0;
  box-shadow: 0px 0px 5px #000000;
  border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.login-button,
.logout-button {
  margin-top: -1px;
  border-top: 1px solid #1c7f20;
  background: #4caf50;
  background: linear-gradient(#4caf50, #1c7f20);
  box-shadow: inset 0 0 1px #000000;
}

.introduction {
  display: block;
  background: url(/img/front_page/gakusei_background.svg);
  background-size: cover;
  height: 46.25vw;
  max-height: 100vh;
  min-height: 300px;
}
.introduction__container {
  height: 100%;
  position: relative;
}
.introduction__container__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  text-shadow: -0.05em -0.05em 0 black, 0.05em -0.05em 0 black, -0.05em 0.05em 0 black, 0.05em 0.05em 0 black;
}

.about-features {
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: larger;
}
.about-features__image {
  width: 120px;
}
.about-features__logo {
  width: 120px;
  margin: 50px;
}
