.flip-container {
    perspective: 250vw;
    width: 100%;
    height: 22rem;
    box-sizing: border-box;
    position: relative;
}

.flip-container__card {
    padding: 1em 0 0 0 !important;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.75s;
}

.flip-container__card__front, .flip-container__card_back {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-container__card__front {
    transform: rotateX(0deg);
}

.flip-container__card__back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}

.flip-container__card .glyphicon {
    position: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-container__card--flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}
