.flip-container {
    perspective: 250vw;
    width: 100%;
    height: 22rem;
    box-sizing: border-box;
    position: relative;

    &__card {
        padding: 1em 0 0 0 !important;
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transition: transform 0.75s;

        &__front {
            transform: rotateX(0deg);
        }

        &__back {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg) translateZ(1px);
        }

        &__front, &__back {
            width: 100%;
            box-sizing: border-box;
            position: absolute;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
        }

        .glyphicon {
            position: inherit;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
        }

        &--flipped {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg) translateZ(1px);
        }        
    }
}
