.icon-button {
    font-size: 1.5em;
    border: none;
    background: transparent;
    line-height: 0;

    &--type-favorite {
        color: rgb(221, 221, 221);
        stroke-width: 0.5em;
        stroke: rgb(150, 150, 150);
    }

    &--active {
        color: rgb(255, 215, 107);
        stroke: rgb(206, 166, 65);
        stroke-width: 0.5em;
    }
    
}