@import './settings/_colors.scss';

.icon-button {
    font-size: 1.5em;
    border: none;
    background: transparent;
    line-height: 0;

    &--type-favorite {
        color: $favorite-inactive-color;
        stroke-width: 0.5em;
        stroke: $favorite-inactive-border-color;
    }

    &--active {
        color: $favorite-active-color;
        stroke: $favorite-active-border-color;
        stroke-width: 0.5em;
    }
}
