@import './settings/_colors.scss';
@import './settings/_sizes.scss';

$shadow-height: 20px;

.introduction {
    display: block;
    position: relative;
    background-image: url(/img/front_page/gakusei_background.svg);
    background-size: cover;
    height: 46.25vw;
    max-height: 100vh;
    min-height: 300px;

    margin-top: -$bootstrap-navbar-margin-bottom; // Cover header margin

    // Chrome seems to calculate background size incorrectly, leaving a white pixel on each side
    margin-left: -1px;
    margin-right: -1px;

    &__container {
        height: 100%;

        &__text {
            display: flex;
            flex-direction: column;
            height: 100%;
            color: $introduction-text-color;
            text-shadow: -0.05em -0.05em 0 black, 0.05em -0.05em 0 black, -0.05em 0.05em 0 black, 0.05em 0.05em 0 black;

            &__title {
                flex: 1;
            }
        }
    }

    // Shadow gradient
    &::before {
        content: ' ';
        display: block;
        height: $shadow-height;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(#222222, #004177);
    }
}

@media screen and (min-width: $small-device-breaking-point) {
    .introduction__container__text {
        display: block;
        position: absolute;
        top: 15%;
    }
}
