.introduction {
    display: block;
    position: relative;
    background: url(/img/front_page/gakusei_background.svg);
    background-size: cover;
    height: 46.25vw;
    max-height: 100vh;
    min-height: 300px;

    &__container {
        height: 100%;

        &__text {
            display: flex;
            flex-direction: column;
            height: 100%;
            color: white;
            text-shadow: -0.05em -0.05em 0 black, 0.05em -0.05em 0 black, -0.05em 0.05em 0 black, 0.05em 0.05em 0 black;

            &__title {
                flex: 1;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .introduction__container__text {
        display: block;
        position: absolute;
        top: 15%;
    }
}
