
@import './settings/_colors.scss';

$padding: 0.25em;

.settings {
  &__header {
    display: flex;
    padding-left: $padding;
    padding-right: $padding;
    margin-bottom: 0.5em;
  }

  &__title {
    margin: 0;
    flex: 1;
    font-size: 1.25em;

    > .badge {
      margin-left: 0.4em;
    }
  }

  &__progress {
    .progress {
      height: 0.25em;
      margin-bottom: 0.5em;
    }
  }

  &__description {
    padding-left: $padding;
    padding-right: $padding;
  }

  &__header + &__description {
    border-top-color: $divider-color;
    border-top-style: solid;
    border-top-width: 0.25em;
    padding-top: 0.5em;
  }

  &__actions {
    text-align: right;
    padding-right: $padding;
    margin-bottom: $padding;
    color: $action-color;

    .icon-button:disabled {
      opacity: 0.65;
      color: $action-disabled-color;
      cursor: not-allowed;
    }
  }
}

